* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gowun Batang", serif;
}

.opacity {
  opacity: 0;
}

footer p {
  position: absolute;
  bottom: 14px;
  left: 778px;
  font-size: 16px;
  line-height: 2.125em;
  color: #827f7f;
}

.container {
  width: 1920px;
  height: 1080px;
  position: relative;
  /* border: 1px dashed red; */
  /* margin: 100px; */
  background-color: #e3e2df;
}

.page-1 {
  width: 550px;
  top: 60px;
  left: 193px;
}

.title {
  position: absolute;
  top: 34px;
  left: 181px;
  width: 400px;
  font-size: 30px;
  margin-bottom: 155px;
}

.poet {
  position: absolute;
  top: 85px;
  left: 554px;
  font-size: 26px;
}

.text-1 {
  position: absolute;
  top: 153px;
  left: 167px;
  font-size: 25px;
  line-height: 2.9em;
}

.page-1 {
  transition: opacity 3s;
}

.page-1:hover {
  opacity: 1;
}

.page-1-background {
  width: 542px;
  height: 521px;
  position: absolute;
  bottom: 0px;
  left: 133px;
}

.page-1-bike {
  width: 191px;
  height: 260px;
  position: absolute;
  bottom: 0px;
  left: 360px;
  transition: transform 25s;
}

.page-1:hover .page-1-bike {
  transform: translateY(-300px) scale(0.2);
}

/* page-2 */

.page-2 {
  transition: opacity 2s;
}

.page-2:hover {
  opacity: 1;
}

.page-2-background {
  width: 1100px;
  height: 324px;
  position: absolute;
  top: 30px;
  right: 0;
}

.page-2-background2 {
  width: 1100px;
  height: 324px;
  position: absolute;
  top: 30px;
  left: 0;
}

.text-2 {
  position: absolute;
  top: 370px;
  left: 675px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 2.9em;
  text-align: center;
}

.page-2-bike {
  position: absolute;
  top: 32px;
  right: 0;
  transition: transform 15s;
}

.page-2:hover .page-2-bike {
  transform: translateX(-1900px);
}

.puddle1 {
  width: 156;
  height: 91px;
  position: absolute;
  top: 165px;
  right: 450px;
  transition: filter 2s;
}

.puddle1:hover {
  filter: blur(100px);
}

.puddle2 {
  width: 152;
  height: 100px;
  position: absolute;
  top: 198px;
  right: 782px;
  transition: filter 2s;
}

.puddle2:hover {
  filter: blur(100px);
}

.puddle3 {
  width: 152;
  height: 100px;
  position: absolute;
  top: 198px;
  left: 300px;
  transition: filter 2s;
}

.puddle3:hover {
  filter: blur(100px);
}

/* page-3 */

.page-3 {
  transition: opacity 2s;
}

.page-3:hover {
  opacity: 1;
}

.page-3-background {
  position: absolute;
  bottom: 100px;
  right: 50px;
}

.text-3,
.text-4 {
  font-size: 24px;
  line-height: 2.9em;
}

.text-3 {
  position: absolute;
  bottom: 436px;
  right: 822px;
  text-align: right;
}

.text-4 {
  position: absolute;
  bottom: 114px;
  right: 811px;
  text-align: right;
}

.page-3-bike {
  width: 50px;
  height: 120px;
  position: absolute;
  bottom: 370px;
  right: 370px;
  transition: transform 13s;
}

.page-3:hover .page-3-bike {
  transform: translateY(190px) scale(4);
}

.stone1 {
  width: 44px;
  height: 44px;
  position: absolute;
  bottom: 130px;
  left: 80px;
  transition: transform 4s;
}

.stone-container {
  position: absolute;
  bottom: 20px;
  right: 250px;
  width: 300px;
  height: 200px;
}

.stone-container:hover .stone1 {
  transform: translateY(150px) rotate(-360deg);
}

.stone2 {
  position: absolute;
  top: 50px;
  right: 70px;
  transition: transform 4s;
}

.stone-container:hover .stone2 {
  transform: translateX(200px) rotate(360deg);
}
